# Bloquear binários e instaladores compactados da TOTVS
*.TAR.GZ
*.tar.gz
*.zip
*.rar

# Bloquear RPOs e Dicionários caso apareçam
*.rpo
*.xnu
*.dt6
*.dbf

# Bloquear logs locais e pastas de sistema do Docker
*.log
.DS_Store